.panel-heading {
	padding: 0px;

	.panel-title {
		&> a {
			text-decoration: none;
			display: block;
			padding: 15px;
			background: #337ab7;
			color: #ffffff;

			&:hover, &.hover {
				background: #23527c;
			}
		}
	}
}