<nav class="navbar navbar-default col-sm-offset-2 col-sm-8">
    <div class="container-fluid">
        <div class="text-center text-muted">
            <h3><b>Loan Listing</b></h3>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 table-responsive">
            <table class="table table-bordered table-striped ">
                <div class="row">
                    <thead>
                        <tr>
                            <th>Loan Number</th>
                            <th>Loan Status</th>
                            <th>Outstanding</th>
                            <th>Amt. Avl To Borrow</th>
                            <th>Margin Call Amt.</th>
                            <th>Margin Call Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LN011</td>
                            <td>Active</td>
                            <td>$25000</td>
                            <td>25000</td>
                            <td>0</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>LN012</td>
                            <td>Pending Approval</td>
                            <td>$35000</td>
                            <td>25000</td>
                            <td>0</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>LN013</td>
                            <td>Active</td>
                            <td>$50000</td>
                            <td>25000</td>
                            <td>50000</td>
                            <td>9/21/2016</td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>
</div>
